# .pyc files
**.pyc

# testing cache files
.cache
__pycache__

# ===================== (START) Excluded Courses  =====================

Python-Fundamentals

# ====================== (STOP) Excluded Courses  =====================

# ===================== (START) Unit Testing with Python =====================

# Incomplete examples
Unit-Testing-with-Python/healthcare
Unit-Testing-with-Python/seatfinder-example-unittest
Unit-Testing-with-Python/telemetry-example-unittest
Unit-Testing-with-Python/interaction-testing-example

# coverage reports
Unit-Testing-with-Python/**/htmlcov
Unit-Testing-with-Python/**.coverage

# ====================== (STOP) Unit Testing with Python =====================
