# Incomplete examples
healthcare
seatfinder-example-unittest
telemetry-example-unittest
interaction-testing-example

# .pyc files
*.pyc

# testing cache files
.cache
__pycache__

# coverage reports
htmlcov