# Python.gitignore #
####################

## Byte-compiled / optimized / DLL files ##
###########################################
__pycache__/
.cache
*.py[cod]
*$py.class

## Unit test / coverage reports ##
##################################
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# ----------------------------------------------------------------------------


# Node.gitignore #
##################

## Logs ##
##########
logs
*.log
npm-debug.log*

## Dependency directories ##
############################
node_modules


# ----------------------------------------------------------------------------


# Excluded Courses #
####################
Python-Fundamentals
Rapid-Javascript-Training
Styling-React-Components


# Unit Testing with Python #
############################

## Incomplete examples ##
#########################
Unit-Testing-with-Python/healthcare
Unit-Testing-with-Python/seatfinder-example-unittest
Unit-Testing-with-Python/telemetry-example-unittest
Unit-Testing-with-Python/interaction-testing-example


# ----------------------------------------------------------------------------
